* { 	box-sizing: border-box; margin:0;padding:0; }
body { background-color: #FFF; font-family: arial; font-size: 14px;}
#toolbar { position:absolute; top:0; left:0; width:100%; height:60px; padding:10px; border-bottom: 1px #000 solid;}
#sidebar { position:absolute; top:60px; left:0; width:300px; height:200%; overflow-y:scroll; border-left:1px #000 solid;}
#sidebar span.header { background-color:#389;color:#FFF;display:block; width:100%; height:28px; line-height:28px; padding-left:5px;}
#sidebar table tr:hover, #sidebar table tr:hover a { background-color:#000; color:#FFF; }
#main,#notasks { position:absolute; top:60px; left:300px;  width:calc(100% - 300px); padding-bottom:100px;}
.actions { background-color:#FFF;  padding:20px; width:100%; border-top:1px #000 solid; }
.buttons { background-color:#FFF; border-top:1px #000 solid; width:100%;height:45px;padding:10px;}
.dialog .titlebar { position:absolute; top:0; left:0; width:100%; background-color: #389; color: #FFF; height:40px; padding: 10px; line-height:18px; border-bottom:1px #000 solid;}
.dialog form { background-color:white; position:absolute; left:0; top:40px; width:100%;}
.field { margin:20px;}
label { float: left; width: 150px; cursor:pointer; }
input[type=text],input[type=number],
input[type=email],input[type=url],input[type=phone],
input[type=submit],input[type=date], select { border: 1px #000 solid; height: 28px; width:240px; padding:5px; color:#444; }
textarea { border: 1px #000 solid; height: 150px; width:440px; padding:5px; color:#444; }
input[type=submit] { width:auto; padding:0;}
input[type=radio] { margin-right:5px;}
select[multiple] { height:auto;}
.right { float:right; } 
.left { float: left; }
.half+.right{ float:left; margin-left:50px;}
.clear { clear:both; }
table { border-collapse: collapse; padding: 0; margin: 0; border-collapse: collapse; width: 100%; }
table tr:nth-child(odd) { background-color: #EEE; }
table tr:nth-child(even) { background-color: #FFF; }
table td, table th { border: 1px #ccc solid; line-height:28px; height:28px; vertical-align:middle; padding-left:2px;	}
table tr:nth-child(even).selected,table tr:nth-child(odd).selected { background-color: #FFA500; }
table td img { height: 28px; }
.buttons a, .actions a, #toolbar a { line-height: 28px; margin-right: 20px; white-space:nowrap; }
a { color:#000; }
h1 { display:inline; color:#389; line-height:24px;}
.prio { text-align:center;}
.level0 { background-color: #AAAACC; }
.level4 { background-color: #FFA500; }
.level5, .typelevel0 { background-color: #FF2222; }
.task-id { opacity:0.4;float:right;margin-right:10px; }
.closed,.grey { color: #888; }
.done { color: #389; }
.danger,.red { color: #f55; margin-right:20px; font-weight:bold; }
iframe { border-width:0;}
.progress { background-color: #bfb; height:100px; margin-top:-29px;}
.column-container { overflow:hidden; height: 28px; text-align:center; vertical-align:middle; }
.column-container a span { font-weight:	normal;	}
.small { width: 40px; }
.medium { width: 120px; }
.no-padding { padding:0; }
.icon {font-weight: normal;width:30px;font-size:30px;text-align:center;vertical-align:middle;display:inline-block;cursor:help;}
#notasks { text-align:center; margin-top:40px; color:#888; }
.help { cursor:help;}
.inline-scroll { max-height: 146px; overflow-y: scroll;}
.chart-hours { width:100%;height:300px;margin-top:20px;}
.chart-types { width:100%;height:300px;margin-top:0;}
